* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #008DDA;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
}

header {
    position: relative;
    padding: 0 2rem;
}

nav {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo-container .active {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {
    display: flex;
    gap: 2rem;

}

.navbar :hover {
    color: #000;
}

.toggle_btn {
    color: #fefefe;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.sign-log-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sign-log-container ul li {
    display: inline-block;
    /* Display list items in the same row */
    margin-left: 2px;
    /* Add margin between list items */
}

.loginbutton {
    background-color: yellow;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.signupbutton {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.loginbutton:hover {
    background-color: yellowgreen;
    transform: scale(1.05);
}

.signupbutton:hover {
    background-color: #ff574d;
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown .login-container,
.dropdown .signup-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width: 680px) {

    .navbar,
    .sign-log-container {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .dropdown{
        display: block;
    }
}